{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!--Style block-->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!--Content block-->
{% block content %}
<div class="container">
  <div style="background-color:lightblue"class="panel panel-primary">
    <div class="panel-heading">General</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(general)}}</ul></p>
      <hr>
    </div>
  </div>
  <div style="background-color:orange"class="panel panel-success">
    <div class="panel-heading">Sports</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(sports)}}</ul></p>
      <hr>
    </div>
  </div>
  <div style="background-color:#ddd" class="panel panel-info">
    <div class="panel-heading">Entertainment</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(entertainment)}}</ul></p>
      <hr>
    </div>
  </div>
  <div style="background-color:linen"class="panel panel-warning">
    <div class="panel-heading">Business</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(business)}}</ul></p>
      <hr>
    </div>
  </div>
  <div style="background-color:#ccc" class="panel panel-danger">
    <div class="panel-heading">Technology</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(technology)}}</ul></p>
      <hr>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Health</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(health)}}</ul></p>
      <hr>
    </div>
  </div>
  <div style="color:green; background-color:Yellow;"class="panel panel-success">
    <div class="panel-heading">Science</div>
    <div class="panel-body">
      <p><ul>{{ macro.displayNewsList(science)}}</ul></p>
      <hr>
    </div>
  </div>
</div>

{% endblock %}