<div style="color:green" class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a style="color:red; font-size:40px" class="navbar-brand> News</a>
        </div>
          <div class=" navbar-collapse collapse ">
              <ul class="nav navbar-nav ">
                  <li><a style="color:red; font-size:20px; " href="/ ">Home</a></li>
              
          </div>
  
      </div>
  </div>